@page
@model WebApp.Pages.Parametro.GridModel
@{
}

<div class="container-fluid">

    <div class="card">
        <div>
            Parametros
        </div>
        <div class="card-body">
            <h5 class="card-title"> Parametros </h5>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>


        </div>

    </div>

</div>